**/.git
**/.yarn
**/artifacts
**/artifacts-zk
**/build
**/cache
**/cache-zk
**/contracts
**/corpus
**/coverage
**/integration
**/node_modules
**/media
**/out
**/types

*.env
*.log
*.sqrl
coverage.json